body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.pokedex-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
}

.pokemon-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
    text-transform: capitalize;
    transition: transform 0.2s;
}

.pokemon-card:hover {
    transform: scale(1.05);
}

.pokemon-card img {
    width: 120px;
    height: 120px;
}

.pokemon-card h2 {
    margin: 10px 0;
    font-size: 1.2em;
}

.pokemon-card h4 {
    margin: 0;
    color: #666;
}
.pokemon-tipos {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

.pokemon-tipos {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-size: 0.9em;
    font-weight: bold;
}

/* Cores para os tipos */
.tipo-grass { background-color: #78C850; }
.tipo-fire { background-color: #F08030; }
.tipo-water { background-color: #6890F0; }
.tipo-bug { background-color: #A8B820; }
.tipo-normal { background-color: #A8A878; }
.tipo-poison { background-color: #A040A0; }
.tipo-electric { background-color: #F8D030; }
.tipo-ground { background-color: #E0C068; }
.tipo-fairy { background-color: #EE99AC; }
.tipo-fighting { background-color: #C03028; }
.tipo-psychic { background-color: #F85888; }
.tipo-rock { background-color: #B8A038; }
.tipo-ghost { background-color: #705898; }
.tipo-ice { background-color: #98D8D8; }
.tipo-dragon { background-color: #7038F8; }
.tipo-flying { background-color: #A890F0; }
.tipo-steel { background-color: #BDBDD6; }